

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/VGS.css" rel="stylesheet" />
</head>
<body>



    <div class="row">
        <div id="dyna" style="color: white;">
            @if (Session["user"] != null)
            {
                string usern = (string)Session["user"];
                <p>Welcome  @usern</p><br />
                <p>@Html.ActionLink("Manage Account", "Index", "Manage")</p>
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <input type="submit" value="Log Out" style="background-color:blue;" />
                }
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Account") <span> | </span>
                @Html.ActionLink("Register", "Register", "Account")
            }
        </div>
        <img src="~/Images/LogoMakr_8MWYqj.png" alt="Logo" id="logo" />
        <h1 id="title">Video Games Shop</h1>


    </div>
    <br /><br /><br /><br /><br />

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Home", "Index", "Home")
                    &nbsp; &nbsp; &nbsp;
                    @Html.ActionLink("About Us and Contact Us", "AboutContactUS", "Home")
                    &nbsp; &nbsp; &nbsp;
                    @Html.ActionLink("Products", "ProdsCusts", "Products")
                    &nbsp; &nbsp; &nbsp;
                    @Html.ActionLink("Manage Sellers", "Index", "Sellers")
                    &nbsp; &nbsp; &nbsp;
                    @Html.ActionLink("Manage Product", "Index", "Products")
                    &nbsp; &nbsp; &nbsp;
                    @Html.ActionLink("Manage Users", "Index", "Users")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            This web project is for learning and marks purpose. Feel free to ask for the selling price.
            I will be really glad to sell you this project &nbsp;&nbsp;&nbsp;
            <img src="~/Images/LogoMakr_8MWYqj.png" alt="Logo" style="height:50px; width:50px;" />

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
